* {
	margin: 0 auto;
}

div {
	text-align: center;
}

#toppart {
	background-image: linear-gradient(to right top, #d16ba5, #ca70b4, #bf76c2, #b27dcf, #a184db, #8c93eb, #71a1f7, #50aeff, #01c4ff, #00d8ff, #19ebfd, #5ffbf1);
}

p {
	text-align: center;
}

img {
	border-radius: 50%;
	margin: 20px;
	border: 5px solid white;
}

h1 {
	padding: 20px;
	color: white;
}

#navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000; 
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff;
	border-radius: 15px;
	}